/.quarto
/DTSC4001_F26_HW1.qmd
/Starting_nflfastr.qmd
/ExpectedPoints.qmd
/ITCS5010_HW3/cfb_app_results.rds
/ITCS5010_HW3/nfl_app_results.rds
/ITCS5010_HW3/rsconnect/
/DTSC4001_F26_HW3.qmd
/PostGameWinProb_CFB.qmd
